body
{
    margin: 0;
}

/* LOGIN */

.body_index
{
    background-image: url("../img/security.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.main-section
{
    margin: 0 auto;
    margin-top: 150px;
    padding: 0;
}

.modal-content
{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-bottom: 20px;
}

.user-img{
    margin-top: -75px;
}

.user-img img{
    width: 175px;
    height: 175px;
}

.user-info
{
    margin-top: 20px;
}

.modal-dialog {
    position: relative;
    max-width: 500px;
    margin: 1.75rem auto;
    pointer-events: none;
}

.w-66
{
    width: 66%;
    max-width: 66%;;
}

.w-100-img
{
    width: 100%;
    max-width: 100%;
}

.w-100
{
    width: 100%;
    max-width: 100%;
}

.w-90
{
    width: 96.5%;
    max-width: 98%;
}

.form-control
{
    display: block;
    width: 75%;
    margin: 0 auto;
    height: 1.7em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    margin-bottom: 4px;
}

.text-center
{
    text-align: center;
}

#avatar-login
{
    transition-duration: 2s;
}

#avatar-login:hover
{
    -webkit-filter: grayscale(100%);
}

.btn-user
{
    width: 50%;
    margin-top: 20px;
    border-radius: 0.2rem;
    border: 1px solid #ced4da;
    height: 2rem;
    transition-duration: 1.3s;
    color: black;
}

.btn-user:hover
{
    cursor: pointer;
    background-color: #008CBA;
    color: #ced4da;
}

#text_login
{
    color: #D33910;
}

/* HEADER */

.header-style
{
    width: 86%;
    position: static;
    top: 0;
    right:0;
    display: inline-block;
    z-index: 200;
    float: right;
    overflow: auto;
    height: 2em;
}

.borde-header
{
    background-color: Gainsboro; box-shadow: 2px 2px 10px #303030;
}

.bar1, .bar2, .bar3
{
    display: none;
}

.header-section
{
    width: 70%;
    display: inline-block;
}

.header-section img
{
    max-width:150px;
    max-height:79px;
}

.header-section.derecha
{
    display: flex;
    justify-content: flex-end;
}

.header-section.derecha > select, .header-section.derecha > a
{
    background-color: transparent;
    border-color: transparent;
    color: white;
    margin-right: 1.5em;
    margin-left: 1.5em;
    position: absolute;
}

.relative
{
    position: relative;
}

.derecha
{
    float: right;
}

.texto-header
{
    margin-right: 1em;
    color: black;
    text-align: center;
    height: 2em;
}

.texto-header > label, .texto-header > a
{
    line-height: 2em;
}

.distancia-barra
{
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.pointer
{
    cursor: pointer;
}

#btn-menu
{
    display: none;
}

.icon-menu
{
    display: inline-block;
}

/* NAVBAR */

.navbar-style
{
    background-color: #992313;
    width: 14%;
    position:fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    text-align: left;
    box-shadow: 2px 2px 10px #303030;
    z-index: 3;
    transform: translateX(0%);
}

.lista-menu
{
    display: block;
    margin-bottom: 0.8em;
    width: 100%;
    text-align: center;
    margin-top: 1.3em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding-bottom: 6%;
    text-align: left;
    font-size: 1em;
}

.letra_navbar
{
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    text-decoration:none;
}

ul
{
    list-style: none;
    padding-inline-start: 0.5em;
}

.section_general
{
    text-align: center;
    width: 86%;
    float: right;
    margin-top: 3em;
    position: relative;
}

.article_general
{
    width: 86%;
    margin: 0 auto;
}

.separador
{
    height: 1.6em;
    width: 70%;
    background: #CA4935;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align:center;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, .8);
    color: #fff;
    padding-top:8px;
    margin-bottom: 2em;
}

.mayus
{
    text-transform: uppercase;
}

/* Modal Content */

.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    overflow-y: auto;
}

.modal-content-m
{
    background-color: #f3f3f3;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 76%;
    text-align: center;
    overflow-y: auto;
    max-height: 35em;
    float: right;
    margin-right: 5%;
}

.row
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.column
{
    flex-direction: column;
}

.w-20
{
    width: 30%;
}

.w-30
{
    width: 36%;
}

.w-70
{
    width: 82%;
}

.w-50
{
    width: 45%;
}

.w-60
{
    width: 57%;
    overflow-x: scroll;
}

.m-right
{
    margin-right: 1em;
}

.titulo_modal
{
    margin-bottom: 0.7em;
    font-size: 1.2em;
}

.height-table
{
    overflow-y: scroll;
}

.table-modal
{
    height: 150px;
    overflow: auto;
}

.w-70
{
    width: 60%;
}

.col-modal
{
    max-width: 98%;
    text-align: center;
}

.m-auto-p
{
  margin:auto;
  padding-bottom:15px;
}

.close
{
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.content-table-modal
{
    margin: 10px 0;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.50);
}

/* TABLA */

.btn-tabla
{
    border-radius: 0.2rem;
    border: 1px solid #ced4da;
    height: 2rem;
    transition-duration: 1.3s;
    color: white;
    background-color: #007bff;
}

.section_article
{
    margin: 0 auto;
    padding: 0;
}

.content-table
{
    margin: 10px 0;
    font-size: 0.9em;
    min-width: 700px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.50);
}

.table
{
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

.content-table thead tr, .content-table-modal thead tr
{
    background-color: #CA4935;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.content-table tbody tr, .content-table-modal tbody tr
{
    border-bottom: 1px solid #dddddd;
}
  
.content-table tbody tr:nth-of-type(even), ..content-table-modal tbody tr:nth-of-type(even)
{
    background-color: #f3f3f3;
}
  
.content-table tbody tr:last-of-type, .content-table-modal tbody tr:last-of-type
{
    border-bottom: 2px solid #CA4935;
}
  
.content-table tbody tr.active-row, .content-table-modal tbody tr.active-row
{
    font-weight: bold;
    color: #CA4935;
}

.table th, .table td
{
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  margin: 0;
}

.pagination
{
    position: block;
    width: 100%;
}

.pagination_class
{
    width: 16px;
    display: inline-block;
    padding: 3px;
    border: 1px solid #ddd;
    margin-right: 1px;
    background-color: #fff;
    color: #007bff;
    cursor: pointer;
}

.selected
{
    background-color: #007bff;
    color: white;
}

.number_row
{
    color: grey;
}

/* DATA */

.data_dashboard
{
    background-color: #fefefe;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 0.7em;
    word-wrap: break-word;
    text-align: center;
}

p
{
    margin: 0;
}

/* CHART */

.single-chart
{
    width: 70%;
    justify-content: space-around;
    margin: 0 auto;
}

.margin-left
{
    margin-left: 4em;
}

.circular-chart
{
    display: block;
    margin: 10px auto;
    max-width: 70%;
    max-height: 250px;
}

.circle-bg
{
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}
  
.circle
{
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress
{
    0% {
        stroke-dasharray: 0 100;
    }
}
  
.circular-chart.blue .circle
{
    stroke: #3c9ee5;
}
  
.percentage
{
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

.resize-graph
{
    resize:both;
    overflow: auto;
}

/* RESPONSIVE */

@media (max-width:1280px)
{
    .w-20, .w-30, .w-60
    {
        width: 100%;
    }
  
    .margin-left
    {
        margin-left: 0;
    }

    .data_dashboard
    {
        width: 100%;
    }
}

@media (max-width:1024px)
{
    .bar1, .bar2, .bar3
    {
        display: block;
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 5px;
        transition: 0.4s;
    }

    .header-style
    {
        padding-bottom: 0.5em;
    }

    .change .bar1
    {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
    .change .bar2
    {
        opacity: 0;
    }
    
    .change .bar3
    {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .navbar-style
    {
        transform: translateX(-300%);
    }

    .section_general
    {
        width: 100%;
        z-index: -1;
    }

    .header-style
    {
        width: 100%;
    }

    .division-dos-articulo
    {
        display: block;
        width: 100%;
    }

    .division-articulo-izquierda
    {
        display: block;
        width: 100%;
        margin-top: 10%;
    }

    .division-articulo-derecha
    {
        width: 100%;
        display: block;
    }

    .division-articulo
    {
        display: block;
        width: 100%;
    }

    .fechas
    {
        display: block;
        width: 100%;
        margin-top: 10%;
    }

    .header-section
    {
        width:80%;
        z-index: 0;
    }

    .header-section > article > label
    {
        display: none;
    }

    .texto-header
    {
        margin-right: 0.3em;
        color: black;
    }

    .article_general {
        overflow-x: auto;
    }

    .w-35-l
    {
        width: 47%;
        float: center;
    }

    .w-30-l
    {
        width: 100%;
        float: center;
    }

    .w-50-i
    {
        width: 100%;
        display: block;
    }

    .mitad-izquierda, .division-articulo
    {
        width: 100%;
        margin-top: 10%;
    }

    .twitter-tweet
    {
        width: 90%;
        margin: 0 auto;
    }

    input
    {
        text-align: center;
    }

    .section_general
    {
        width: 100%;
        z-index: -1;
    }

    .w-20, .w-30, .w-60
    {
        width: 100%;
    }
  
    .margin-left
    {
        margin-left: 0;
    }

    .data_dashboard
    {
        max-width: 90%;
    }

    .pagination
    {
        position: block;
        width: 100%;
    }

    #avatar-login
    {
        width: 60%;
    }

    .separador
    {
        height: 1.6em;
        width: 80%;
        background: #CA4935;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align:center;
        border-radius: 5px;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, .8);
        color: #fff;
        padding-top:8px;
        margin-bottom: 2em;
        font-size: 1em;
    }
    
}