body
{
    margin: 0;
}

/* LOGIN */

.body_index
{
    background-image: url("../img/security.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.main-section{
    margin: 0 auto;
    margin-top: 150px;
    padding: 0;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-bottom: 20px;
}

.user-img{
    margin-top: -75px;
}

.user-img img{
    width: 175px;
    height: 175px;
}

.user-info
{
    margin-top: 20px;
}

.modal-dialog {
    position: relative;
    max-width: 500px;
    margin: 1.75rem auto;
    pointer-events: none;
}

.col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.form-control {
    display: block;
    width: 75%;
    margin: 0 auto;
    height: 1.7em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    margin-bottom: 4px;
}

.text-center
{
    text-align: center;
}

#avatar-login
{
    transition-duration: 2s;
}

#avatar-login:hover
{
    -webkit-filter: grayscale(100%);
}

.btn-user
{
    width: 50%;
    margin-top: 20px;
    border-radius: 0.2rem;
    border: 1px solid #ced4da;
    height: 2rem;
    transition-duration: 1.3s;
    color: black;
}

.btn-user:hover
{
    cursor: pointer;
    background-color: #008CBA;
    color: #ced4da;
}

#text_login
{
    color: #D33910;
}

/* DATA PAGE */

.body-data
{
    display: none;
}

/* HEADER */

.header-style
{
    width: 86%;
    position: static;
    top: 0;
    right:0;
    display: inline-block;
    z-index: 200;
    float: right;
    overflow: auto;
    height: 2em;
}

.borde-header
{
    background-color: Gainsboro; box-shadow: 2px 2px 10px #303030;
}

.bar1, .bar2, .bar3
{
    display: none;
}

.header-section
{
    width: 70%;
    display: inline-block;
}

.header-section img
{
    max-width:150px;
    max-height:79px;
}

.header-section.derecha
{
    display: flex;
    justify-content: flex-end;
}

.header-section.derecha > select, .header-section.derecha > a
{
    background-color: transparent;
    border-color: transparent;
    color: white;
    margin-right: 1.5em;
    margin-left: 1.5em;
    position: absolute;
}

.relative
{
    position: relative;
}

.derecha
{
    float: right;
}

.texto-header
{
    margin-right: 1em;
    color: black;
    text-align: center;
    height: 2em;
}

.texto-header > label, .texto-header > a
{
    line-height: 2em;
}

.distancia-barra
{
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.pointer
{
    cursor: pointer;
}

#btn-menu
{
    display: none;
}

.icon-menu
{
    display: inline-block;
}

/* NAVBAR */

.navbar-style
{
    background-color: #992313;
    width: 14%;
    position:fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    text-align: left;
    box-shadow: 2px 2px 10px #303030;
    z-index: 3;
    transform: translateX(0%);
}

.lista-menu
{
    display: block;
    margin-bottom: 0.8em;
    width: 100%;
    text-align: center;
    margin-top: 1.3em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding-bottom: 6%;
    text-align: left;
    font-size: 1em;
}

.letra_navbar
{
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    text-decoration:none;
}

ul
{
    list-style: none;
    padding-inline-start: 0.5em;
}

.section_general
{
    text-align: center;
    width: 86%;
    float: right;
    margin-top: 3em;
    position: relative;
    overflow: auto;
}

.article_general
{
    width: 86%;
    margin: 0 auto;
}

.separador
{
    height: 1.6em;
    width: 70%;
    background: #CA4935;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align:center;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, .8);
    color: #fff;
    padding-top:8px;
    margin-bottom: 2em;
}

.mayus
{
    text-transform: uppercase;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
  }


/* RESPONSIVE */

@media (max-width:1024px)
{
    .bar1, .bar2, .bar3 {
        display: block;
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 5px;
        transition: 0.4s;
    }

    .header-style
    {
        padding-bottom: 0.5em;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
    
      .navbar-style
      {
        transform: translateX(-300%);
      }
    
      .section_general
      {
          width: 100%;
          z-index: -1;
      }
    
      .header-style
      {
          width: 100%;
      }




      .division-dos-articulo
  {
    display: block;
    width: 100%;
  }

  .division-articulo-izquierda
  {
    display: block;
    width: 100%;
    margin-top: 10%;
  }

  .division-articulo-derecha
  {
    width: 100%;
    display: block;
  }

  .division-articulo
  {
    display: block;
    width: 100%;
  }

  .fechas
  {
    display: block;
    width: 100%;
    margin-top: 10%;
  }

  .header-section
  {
      width:80%;
      z-index: 0;
  }

  .header-section > article > label
  {
    display: none;
  }

  .texto-header
  {
    margin-right: 0.3em;
    color: black;
  }

  .article_general {
    overflow-x: auto;
  }

  .w-35-l
  {
    width: 47%;
    float: center;
  }

  .w-30-l
  {
    width: 100%;
    float: center;
  }

  .w-50-i
  {
    width: 100%;
    display: block;
  }

  .mitad-izquierda, .division-articulo
  {
    width: 100%;
    margin-top: 10%;
  }

  .twitter-tweet
  {
    width: 90%;
    margin: 0 auto;
  }

  input
  {
    text-align: center;
  }

  .section_general
  {
      width: 100%;
      z-index: -1;
  }
  
}