<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Prueba técnica - Ravenloop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../src/css/css.css">
    </head>
    <body class="body_data" id="body_data">
        <header class="header-style borde-header" id="header-pagina">
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu" class="icon-menu" title="Botón abrir menú" id="label-input">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </label>
            <section class="header-section derecha relative" id="section-idioma">
                <article class="texto-header">
                    <label id="username"></label>
                    <label class="distancia-barra">|</label>
                    <label id="date"></label>
                    <label class="distancia-barra">|</label>
                    <a class="pointer" onclick="cerrarSesion()"><strong>CERRAR SESIÓN</strong></a>
                </article>
            </section>
        </header>
        <nav id="nav-menu" class="navbar-style">
            <br>
            <ul> 
                <li class="lista-menu"><a href="data.html" class="letra_navbar pointer">Resumen</a></li>
                <li class="lista-menu"><a href="" class="letra_navbar">Dashboard</a></li>
            </ul>
        </nav>
        <script type="text/javascript" src="../src/data.json"></script>
        <script type="text/javascript" src="../src/js/javascript.js"></script>
        <script>
            window.onload = function()
            {
                if(sessionStorage.getItem("username") === "username")
                {
                    document.getElementById('body_data').style.display = 'block';
                    document.getElementById('username').innerHTML = "Usuario: " + sessionStorage.getItem("username");

                    var today = new Date();
                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0');
                    var yyyy = today.getFullYear();

                    today = dd + '/' + mm + '/' + yyyy;

                    document.getElementById('date').innerHTML = "Fecha: " + today;
                }
                else
                {
                    window.location.href = 'index.html';
                }
            }
        </script>
    </body>
</html>
